*{
    margin: 0;
    transition: 0.1s;
}
a{
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #222;
    background-attachment: fixed;
    background-size: 100%;
    scrollbar-color: red yellow;
    font-family: Arial, Helvetica, sans-serif;
}


html {
    --scrollbarBG: white;
    --thumbBG: black;
}
body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

header{
    position: fixed;
    width: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    height: auto;
    color: black;
    z-index: 1;
}

header #logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #menu-mobile{
    display: none;
}

header #logo a{
    display: block;
    padding-left: 10px;
    font-size: 0.75em;
    letter-spacing: 0.65em;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}


header>nav{
    text-align: center;
}

header>nav>ul>li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

header>nav>ul>li>a{
    display: inline-block;
    padding: 10px;
    font-size: 0.75em;
    text-transform: uppercase;
    color: black;
    transition: 0.3s;
    letter-spacing: 0.6em;
}
header>nav>ul>li>a:hover{
    color:black;
    background-color: #ccc;
}

main{
    display: flex;
    margin: 0 auto;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    background-image: url("./../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

section{
    text-align: left;
}



section h1{
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1.5em;
    cursor: default;
    color: white;
}


section p{
    margin-top: 20px;
    font-size: 1.8em;
    line-height: 1.5em;
    cursor: default;
    text-align: justify;
    color: white;
}

section{
    border-bottom: 2px solid #555;
    padding-top: 20px;
    padding-bottom: 30px;
}



section#sobre{
    background-color: white;
}

section#sobre h1{
    color: black;
    font-size: 2em;
    padding-right: 80px;
    text-align: right;
}

section#sobre p{
    color: black;
}

section .conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

section#perfil{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    border-bottom: 0px;
    max-width: 1400px;
    height: 100vh;
}


section#perfil h2{
    padding-left: 15px;
    text-align: right;
    font-size: 2.1em;
    color:#fff;
    text-transform: uppercase;
}

section #descricao h3{
    text-align: right;
    font-weight: 100;
    color: white
}

section#perfil img{
    width: 320px;
    border-radius: 50%;
}

section#projetos{
    padding-bottom: 30px;
}
section#projetos .conteudo{
    display: flex ;
    flex-direction: column !important;
}

section#contato{
    border:0;
    padding-bottom: 50px;
    background-color: #333;
}

section#contato #regiao{
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

footer #midias a{
    color: black;
    font-size: 3em;
    margin-left: 20px;
    transition: 0.2s;
}

footer #midias a:hover{
    color: blue;
}

footer #midias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

section#contato form{
    display:flex;
    flex-direction: column;
    width: 60%;
}

section#contato input[type=text],input[type=email], textarea{
    font-size: 2em;
}
section#contato textarea, input{
    margin: 10px 0px;
}

section#contato input[type=submit]{
    background-color: #fff;
    width: 120px;
    height: 80px;
    font-weight: bold;
}


#projetos #lista{
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

#projetos .conteudo h1{
    margin: 30px;
    font-size: 2em;
}



#projetos #lista .projeto img{
    width: 100%;
}


#projetos #lista .projeto:hover .descricao-projeto{

    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    position:absolute;
    top:0;
    left:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    color:white !important;
    padding:20px;
    font-size:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projetos #lista .projeto .descricao-projeto a{
    color: white;
    font-weight: bold;
}

#projetos #lista .projeto .descricao-projeto p{
    color: white;
    text-align: center;
}



#projetos #lista  .projeto .descricao-projeto{
    display:none;
}


#projetos #lista .projeto p{
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: #333;
    padding: 10px 0px;
    margin-top: 0px;
}

#projetos #lista .projeto{
    flex: 1 1 350px;
    position:relative;
    margin: 10px;
    background-color: white;
}

footer{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 110px;
    color: black;
    background-color: white;
    font-weight: bold;
}



#voltar{
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 30px;
    width: 30px;
    height: 30px;
    padding: 12px;
    font-size: 2.5em;
    text-shadow:  1px 1px 1px white;
    color: #666;
}

@media screen and (max-width: 1050px) {


    header{
        font-size: 1.4em;
        padding: 0px;
        flex-wrap: wrap;
    }

    header #menu-mobile{
        display: block;
    }

    nav ul{
        padding-inline-start: 0px;
    }


    header nav ul{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    header nav ul li{
        flex-grow: 1;
        border-bottom: 1px solid black;
        margin: 0px;
    }

    nav{           
        position: absolute;
        background-color: #fffb;
        width: 100%;
        margin: 0 auto;
        transform: translateY(-100%);    
    }

    nav.nav_visivel{
        transform: translateY(70%);  
        padding-top: 0px;  
    }

    nav.nav_visivel ul{
        padding-top: 0px;
    }

    #menu-mobile{
        padding-right: 15px;
        font-size: 2em;
        color: black;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0px;
    }

    footer #midias{
        margin-top: 10px;
    }

    #projetos #lista .projeto{
        width: 90%;
    }

    section p{
        font-size: 1.2em;       
    }

    section .conteudo{
        display: flex;
        flex-direction: column !important;
        padding: 0px 15px;
    }

    section#perfil{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
        height: 100vh;
    }

    section#perfil img{

        width: 200px;

    }
    section#perfil h2,h3{
        text-align: center !important;
        margin: 20px;
    }

    section#sobre h1{
        padding: 0px;
    }

}

@media screen and (max-width: 500px){
    section#perfil{
        flex-direction: column-reverse;
        width: 90%;
    }

    section#perfil h2{
        text-align: center;
        padding: 5px;
    }

    section#perfil h3{
        text-align: center;
    }

    header>nav>ul>li{
        margin-right: 0px;
    }


}